[package]
name = "hello-world"
version = "0.1.0"
license = "Apache-2.0"
edition = "2024"
rust-version = "1.85"
publish = false

[dependencies]
trippy = { version = "0.14.0-dev", path = "../../crates/trippy", default-features = false, features = ["core"] }
anyhow = "1.0.86"
