Source: trippy
Section: contrib/net
Priority: optional
Maintainer: Fuji Apple <fujiapple852@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
 cargo-1.82,
 rustc-1.82,
 libstd-rust-dev
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/fujiapple852/trippy
Vcs-Git: https://github.com/fujiapple852/trippy.git

Package: trippy
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: network diagnostic tool combining traceroute and ping
 Trippy combines the functionality of traceroute and ping and
 is designed to assist with the analysis of network issues.
