#!/usr/bin/make -f

.PHONY: override_dh_strip

%:
	dh $@

override_dh_auto_build:
	mkdir .cargo
	cp debian/cargo.config .cargo/config
	tar xJf debian/vendor.tar.xz
	cargo-1.82 build --release --frozen

override_dh_auto_clean:
	cargo-1.82 clean
	rm -rf .cargo vendor

override_dh_strip:
	dh_strip --no-automatic-dbgsym
