on:
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '00 18 * * *'

name: CI

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build:
          - linux-stable
          - linux-musl-stable
          - linux-beta
          - linux-nightly
          - macos-stable
        include:
          - build: linux-stable
            os: ubuntu-20.04
            target: x86_64-unknown-linux-gnu
            rust: stable
          - build: linux-musl-stable
            os: ubuntu-20.04
            target: x86_64-unknown-linux-musl
            rust: stable
          - build: linux-beta
            os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            rust: beta
          - build: linux-nightly
            os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            rust: nightly
          - build: macos-stable
            os: macos-latest
            target: x86_64-apple-darwin
            rust: stable
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
      - run: sudo -E env "PATH=$PATH" cargo test --workspace --all-features --target ${{ matrix.target }}
  test-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build:
          - windows-stable
        include:
          - build: windows-stable
            os: windows-latest
            target: x86_64-pc-windows-msvc
            rust: stable
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
      - run: cargo test --workspace --all-features --target ${{ matrix.target }}
  fmt:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy
      - run: cargo clippy --workspace --all-features --tests -- -Dwarnings

  cargo-deny:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: EmbarkStudios/cargo-deny-action@v1
        with:
          log-level: warn
          command: check
          arguments: --all-features
